<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="Your description goes here">
    	<meta name="keywords" content="one, two, three">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="public/css/index.css">
    </head>  

    <body>



        <h1 class="header"> MyThoughts </h1>


        <div id="container"> 
            <div class="circle"> 
                <blockquote class="text quote" cite"https://www.goodhousekeeping.com/life/a39739060/mental-health-quotes/">
                <p> You don’t have to control your thoughts.<p>
                <p>You just have to stop letting them control you. </p>
                <footer> - Dan Millman </footer>
                </blockquote>
            </div>

            <div class="circle"> 
                <blockquote class="text quote" cite"https://www.goodhousekeeping.com/life/a39739060/mental-health-quotes/">
                <p> It is not the bruises on the body that hurt.<p>
                <p> It is the wounds of the heart and the scars on the mind. </p>
                <footer> - Aisha Mirza </footer>
                </blockquote>
            </div>

            <div class="circle"> 
                <blockquote class="text quote" cite"https://www.goodhousekeeping.com/life/a39739060/mental-health-quotes/">
                <p> Mental health…is not a destination, but a process.<p>
                <p> It’s about how you drive, not where you’re going. </p>
                <footer> -  Noam Shpancer, PhD </footer>
                </blockquote>
            </div>
        </div>



        <div class="container">
        <h2><a href="/Signup"> Signup </a></h2>
        <h2><a href="/Login">Login </a></h2>
        </div> 


        <script src="public/js/index.js"></script>
    </body>
 
</html>