*{
    font-family: 'Oleo Script', cursive;
}
body{
    background-color: #FFCEFE;
}

h2{
    font-family: 'Oleo Script', cursive;
    display: flex;
    justify-content: center;
}


nav > ul{
    display:flex;
    justify-content: flex-end;
    list-style: none;
    font-family: 'Oleo Script', cursive;
    gap: 10px;
}

.container{
    display: flex;
    justify-content: center;
} 


.comment{
    padding-top: 100px;
    padding-left: 500px;
    list-style: none;
    
} 

.comments{
    color: blue;
}

.story{
    color: darkblue;
}

.commentSection{
    display: flex;
    justify-content: center;
}


.delete{
    padding-left: 50px;
}

