*{
    font-family: 'Oleo Script', cursive;
}

.header{
    display:flex;
    justify-content: center;
    font-family: 'Oleo Script', cursive;
}
  
body{
    background-color:RGB(216, 174,72);
}
  
nav > ul{
    display:flex;
    justify-content: flex-end;
    list-style: none;
    font-family: 'Oleo Script', cursive;
    gap: 10px;
}
  
nav{
    padding:5px;
    
}
  
  
nav > ul > .profile{
    padding-right: 200px
}

h2{
    font-family: 'Oleo Script', cursive;
}


.container{
    display: flex;
    justify-content: center;
}


section{
    display: flex;
    justify-content: center;
}

button{
    font-family: 'Oleo Script', cursive;
}

.story{
    color: blue;
}


.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}