body{
    background-image: url(https://images.theconversation.com/files/223729/original/file-20180619-126566-1jxjod2.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1200&h=675.0&fit=crop);
    background-size: cover;
    background-repeat: no-repeat;
}

#header, .circle, .label, #submit{
    display:flex;
    justify-content: center;
    font-family: 'Oleo Script', cursive;
}
  
.container{
    display: flex;
    flex-direction: column;
}
  
  
  /* Quote */
.cirlce{
    height: 300px;
    position: relative;
    width: 300px;
    padding-top:10px;
}
  
.quote{
    padding-top: 150px;
    padding-left: 120px;
    font-family: 'Oleo Script', cursive;
}
  /*  */
  
#submit{
    padding-left:10px;
}